[Unit]
Description=Cloudflare Tunnel for WebDAV
After=network-online.target dufs.service
Wants=network-online.target dufs.service

[Service]
Type=simple
ExecStart=/usr/bin/cloudflared tunnel --protocol http2 run webdav
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
