    window-rule {
        geometry-corner-radius 12 // Set every window radius to 12
        clip-to-geometry true
    }

    window-rule {
        match app-id="fcitx"
        open-floating true
    }

    window-rule {
        match app-id="splayer"
        match title=".*桌面歌词.*"
        opacity 1.0
        background-effect {
            blur false
        }
    }





    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

